/src/astra
/src/mkscript
/src/inscript/inscript.h
/src/bindings.h

# binaries
*.a
*.exe
*.i
*.la
*.lo
*.o
*.so*

# autotools stuff
.deps
.dirstamp
Makefile
Makefile.in
/libtool
/aclocal.m4
/autom4te.cache
/build-aux/m4/libtool.m4
/build-aux/m4/ltoptions.m4
/build-aux/m4/ltsugar.m4
/build-aux/m4/ltversion.m4
/build-aux/m4/lt~obsolete.m4
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.log
/config.status
/configure
/src/config.h
/src/config.h.in
/src/stamp-h1
/private/

# autosave files
*~
